@import '@/assets/css/base.scss';

.results {
  padding-top: 20px;
  max-height: 100%;
  .infinite-scroll {
    height: 100vh;
    overflow-y: scroll;

    .egg-entry {
      transform: scale(0.9);
      box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
      .egg-entry__title {
        flex-direction: column;
        .price {
          font-weight: bold;
          padding: 2px 10px;
          border: 3px solid black;
          border-radius: 5px;
        }
        .results__title {
          padding-top: 20px;
          font-weight: bold;
          font-family: Roboto;
        }
        p {
          font-size: 24px;
        }
      }
    }
    hr {
      width: 100%;
      border: solid 2px black;
    }
  }
}
.no-entries {
  height: 400px;
  width: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    height: 450px;
    width: 350px;
    border-radius: 50%;
  }
}

.egg-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.loading {
  text-align: center;
  padding: 10px;
}

.error {
  color: red;
  text-align: center;
  padding: 10px;
}
